:root {
    --text-font: 'Roboto', sans-serif;
    --temp-color: blue;
    --bg-color: rgb(229, 255, 255);
    --text-bg-color: rgb(128, 131, 174);
    --desc-bg-color: rgb(132, 253, 241);
    --rain-bg-color: rgb(0, 104, 106);
    --border-color: rgb(0, 11, 80);
}

body {
    margin: 0;
    font-family: var(--text-font);
    background-color: rgb(187, 222, 255);
}

.container {
    background-color: var(--bg-color);
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    border-left: 2px solid rgb(143, 164, 255);
    border-right: 2px solid rgb(143, 164, 255);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5), 4px 0 10px rgba(0, 0, 0, 0.5);
}

.top {
    text-align: center;
    color: rgb(0, 23, 228);
    margin-bottom: 20px;
}

.top header{
    padding-top: 10px;
}


.sun-and-cloud, .title {
    transition: transform 0.3s ease;
}

.sun-and-cloud:hover, .title:hover {
    transform: translateY(-2px);
}

.sun-and-cloud {
    margin-top: 1%;
    padding-right: 1%;
    width: min(6%, 100px);
}

.title {
    margin-bottom: 1%;
    width: min(50%, 800px);
}

.textContainer {
    display: flex;
    gap: 20px;
    margin: 20px;
    height: auto;
}

.textSection {
    width: 30%;
    min-width: 250px;
    background-color: var(--text-bg-color);
    border: var(--border-color) 2px solid;
    border-radius: 10px;
    padding-bottom: 10px;
}

.temp{
    font-size: 5rem !important;
    font-weight: 200 !important;
}

.detailBox{
    width: 80%;
    background-color: rgb(190, 187, 208);
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
    border: black solid 3px ;
}

.iconContainer{
    margin-top: 10px;
    background-color: rgb(190, 187, 208);
    width: 90px;
    height:90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: black solid 3px ;
    display: flex;
}

.map{
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    width: 100%;
    height: 1000px;
    border: rgb(0, 11, 80) solid 10px;
}

#map{
    width: 100%;
    height: 1000px;
}